/*

    TABLE OF CONTENTS

    1. Custom Properties
    2. General
    3. Layout
    4. Top Bar
    5. Buttons
    6. Board
    7. Manual
    8. Dice
    9. Settings
    10. Form Elements
    11. Animations

*/


/* 1. Custom Properties
----------------------------------------------------------------------------- */

  /* --- 1.1 General -------------------------------------------------------- */
  :root{
    --board-width: 18.75rem;
    --page-padding: .625rem;
  }

  @media screen and (min-width: 720px){
    :root{
      --page-padding: 1.5rem;
    }
  }

  /* --- 1.2 Theme Logic ---------------------------------------------------- */
  :root {
    --ON: initial;
    --OFF: ;
  }

  .theme-system,
  .theme-light {
    --light: var(--ON);
    --dark: var(--OFF);
  }

  .theme-dark {
    --light: var(--OFF);
    --dark: var(--ON);
  }

  @media (prefers-color-scheme: dark) {
    .theme-system,
    .theme-dark {
      --light: var(--OFF);
      --dark: var(--ON);
    }
  }

  /* --- 1.3 Theme Colors --------------------------------------------------- */
  :root{
    --pri-bg-color:    var(--light, #f9f9f9) var(--dark, #143b4f);
    --sec-bg-color:    var(--light, #f0f1f2) var(--dark, #17455c);
    --accent-bg-color: var(--light, #c7ebe4) var(--dark, #264e56);
    --input-bg-color:  var(--light, #ffffff) var(--dark, #13374a);

    --pri-txt-color:    var(--light, #5d6362) var(--dark, rgba(247,247,247,.95));
    --sec-txt-color:    var(--light, #868d8c) var(--dark, rgba(247,247,247,.80));
    --ter-txt-color:    var(--light, #bbc1c0) var(--dark, rgba(247,247,247,.50));
    --accent-txt-color: var(--light, #4d8075) var(--dark, rgba(247,247,247,.80));

    --border-default:  var(--light, #e3e5e6) var(--dark, #2d4b5c);
    --border-subtle:   var(--light, #eeeeee) var(--dark, #325466);
    --border-accent:   var(--light, #ceebe5) var(--dark, #304f46);

    --button-default:
      var(--light, linear-gradient(0deg, #ebeef0 0%, #f0f1f2 100%))
      /*var(--dark, linear-gradient(180deg, #2d4e60 0%, #2b4b5c 100%))*/
      var(--dark, linear-gradient(180deg, #264f66 0%, #23495e 100%));
    --button-default-pressed:
      var(--light, linear-gradient(0deg, #f0f1f2 0%, #ebeef0 100%))
      var(--dark, linear-gradient(180deg, #23495e 0%, #264f66 100%));
    --button-accent:
      var(--light, linear-gradient(180deg, #c5e6df 0%, #b8e0d9 100%))
      var(--dark, linear-gradient(180deg, #538a7a 0%, #4d8071 100%));
    --button-accent-pressed:
      var(--light, linear-gradient(180deg, #b8e0d9 0%, #c5e6df 100%))
      var(--dark, linear-gradient(180deg, #4d8071 0%, #538a7a 100%));
    --button-glow:
      var(--light, #fcfcfc)
      var(--dark, rgba(249,251,252,.05));

    --dice-hue: 32;
    --dice-saturation: var(--light, 48%) var(--dark, 0%);
    --dice-lightness:  var(--light, 90%) var(--dark, 80%);
  }


/* 2. General
----------------------------------------------------------------------------- */
html{
  box-sizing: border-box;
  background-color: var(--pri-bg-color);

  font: 100% / 1.5 'Avenir', sans-serif;
  color: var(--pri-txt-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Selection is not needed and not expected in this game, can be removed */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Animate scroll when manual is opened on mobile */
  scroll-behavior: smooth;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  cursor: default;
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  *, * ::before, * ::after {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}


/* 3. Layout
----------------------------------------------------------------------------- */
body{
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: flex-end;
  height: 100vh;
}

@media screen and (min-width: 24em) and (min-height: 40em){
  html{
    font-size: 112.5%
  }
}

@media screen and (min-width: 25em) and (min-height: 42.5em){
  html{
    font-size: 125%
  }
}

@media screen and (min-width: 60em) and (min-height: 48em){
  body{
    grid-template-rows: auto auto;
    align-content: center;
  }
}


/* 4. Top Bar
----------------------------------------------------------------------------- */
.top-bar{
  display: grid;
  grid-template-columns: 1fr auto;
  width: var(--board-width);
  margin: 0 auto calc(2 * var(--page-padding));
}

.scores output{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  margin-left: .5rem;
}

.scores output[name=total-score]{
  color: var(--sec-txt-color);
}

.scores output[name=high-score]{
  color: var(--ter-txt-color);
}


/* 5. Buttons
----------------------------------------------------------------------------- */

  /* --- 5.1 General -------------------------------------------------------- */
  button{
    min-width: 3rem;
    min-height: 3rem;
    border: none;
    border-radius: 0.15625rem;
    background-color: var(--sec-bg-color);
    background-image: var(--button-default);

    font: inherit;
    font-size: inherit;
    color: inherit;
    box-shadow:
      inset 0 1px 0 0 var(--button-glow),
      inset 0 -1px 2px 0 rgba(0,0,0,.05);
  }

  .theme-light button:hover,
  .theme-system button:hover{
    filter: brightness(.98);
  }

  .theme-dark button:hover{
    filter: brightness(1.07);
  }

  button[readonly]{
    pointer-events: none; /* prevent clicking the button when filled in */
    background-image: var(--button-default-pressed);
    box-shadow:
      inset 0 1px 0 0 var(--pri-bg-color),
      inset 0 2px 2px 0 rgba(0,0,0,.03);
  }

  /* --- 5.2 Icons ---------------------------------------------------------- */
  button .icon{
    vertical-align: middle;
  }

  /* --- 5.3 Ghost Buttons -------------------------------------------------- */
  button.ghost{
    border-radius: .5rem;
    color: var(--accent-txt-color);
    background: transparent;
    box-shadow: none;
  }

  button.ghost:hover{
    background: var(--pri-bg-color);
  }

  button.ghost[aria-pressed="true"]{
    background-color: var(--sec-bg-color);
  }

  button.ghost:not(:hover):not([aria-pressed="true"]){
    opacity: .8;
  }


/* 6. Board
----------------------------------------------------------------------------- */

  /* --- 6.1 General -------------------------------------------------------- */
  .board{
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 3rem);
    max-width: var(--board-width);
    margin: 0 auto 1rem;
  }

  /* --- 6.2 Diagonal Buttons ----------------------------------------------- */
  .board button:nth-child(5n + 1),
  .board button:nth-child(7n){
    background-image: var(--button-accent);
  }

  .board button[readonly]:nth-child(5n + 1),
  .board button[readonly]:nth-child(7n){
    background-image: var(--button-accent-pressed);
  }

  /* --- 6.3 Button Animations ---------------------------------------------- */
  .board button.animate{
    animation: pop .4s
  }

  .animate.row[data-column="2"],
  .animate.column[data-row="4"]{
    animation-delay: .08s!important
  }

  .animate.row[data-column="3"],
  .animate.column[data-row="3"]{
    animation-delay: .16s!important
  }

  .animate.row[data-column="4"],
  .animate.column[data-row="2"]{
    animation-delay: .24s!important
  }

  .animate.row[data-column="5"],
  .animate.column[data-row="1"]{
    animation-delay: .32s!important
  }

  /* --- 6.4 Output --------------------------------------------------------- */
  .board output{
    max-width: 2rem;
    max-height: 2rem;
    margin: .5rem 0 .5rem .5rem;
    border: none;
    border-radius: 50%;

    font-size: .875rem;
    text-align: center;
    line-height: 2.1rem;
    color: var(--ter-txt-color);

    background-color: var(--sec-bg-color);
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.05);
  }

  .board output[name*=diagonal]{
    background: var(--accent-bg-color);
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.06);
  }


/* 7. Manual
----------------------------------------------------------------------------- */

  /* --- 7.1 General -------------------------------------------------------- */
  .manual{
    opacity: 0;
    max-width: var(--board-width);
    margin: 0 auto calc(4 * var(--page-padding));
  }

  .manual:not([hidden]){
    animation: fadeIn .3s .1s forwards;
  }

  @media screen and (min-width: 72em){
    .manual{
      transform: translateX( calc( -50vw - (2 * var(--page-padding)) ) );
      position: absolute;
      top: var(--page-padding);
      right: var(--page-padding);
    }
  }

  /* --- 7.2 Move board and top bar when manual is open --------------------- */
  @media screen and (min-width: 50em){
    .board,
    .top-bar{
      transition: transform .24s cubic-bezier(0.48, 0.18, 0.14, 0.96);
    }

    .show-manual .board,
    .show-manual .top-bar{
      transform:
        translateX( calc( (.5 * var(--board-width)) - var(--page-padding) ));
    }
  }

  /* --- 7.3 Contents ------------------------------------------------------- */
  .manual h2{
    margin-bottom: .25rem;
    font-size: 1.25rem;
  }

  .manual p{
    margin-bottom: 1rem;
  }

  .manual dl{
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .manual dt,
  .manual dd{
    padding-bottom: .25rem;
    margin-bottom: .25rem;
  }

  .manual dt:not(:last-of-type),
  .manual dd:not(:last-of-type){
    border-bottom: 1px solid var(--border-subtle);
  }

  .manual dd{
    text-align: right;
    padding-left: 1.5rem;
  }


/* 8. Dice
----------------------------------------------------------------------------- */
.dice{
  grid-column: 1 / 6;
  grid-row: 7 / 9;
  align-self: center;
  text-align: center;
}

.die{
  display: inline-block;
  vertical-align: top;
  border-radius: .5rem;
  margin: .85rem;

  /* background-color is added to prevent a glitchy white line on rotation */
  background-color: hsl(var(--dice-hue), var(--dice-saturation), var(--dice-lightness));
  background-image:
    linear-gradient(
      -45deg,
      hsl(var(--dice-hue), calc(var(--dice-saturation) - 20%), calc(var(--dice-lightness) - 12%)) 0%,
      hsl(var(--dice-hue), var(--dice-saturation), var(--dice-lightness)) 100%);

  box-shadow:
    1px 2px 3px 0 rgba(0,0,0,0.03),
    2px 4px 3px 0 rgba(0,0,0,0.05),
    4px 8px 12px 0 rgba(0,0,0,0.10);

  transition:
    transform .12s cubic-bezier(0.48, 0.18, 0.14, 0.96),
    opacity .12s cubic-bezier(0.48, 0.18, 0.14, 0.96);
}

.die:not(.show){
  transform: translateY(3rem)!important;
  opacity: 0;
  transition: none;
}

.die:nth-of-type(2){
  transition-delay: .05s
}

.die::before{
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  margin: .1875rem;
  border-radius: 50%;
  background-color:
    hsl(var(--dice-hue), var(--dice-saturation), var(--dice-lightness));
  background-image: url(../images/dice.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18rem;
  box-shadow:
    1px 1px 2px 1px rgba(255,255,255,0.1),
    -1px -1px 2px 1px rgba(255,255,255,0.2),
    1px 1px 4px 0 rgba(0,0,0,0.01),
    3px 3px 6px 0 rgba(0,0,0,0.04),
    inset 1px 1px 2px 0 rgba(0,0,0,0.02),
    inset 1px 1px 2px 0 rgba(255,255,255,0.2),
    inset 8px 8px 12px 0 rgba(0,0,0,0.03),
    inset -1px -1px 2px 0  rgba(255,255,255,0.02);
}

.die[data-value="2"]::before{ background-position-x: -3rem  }
.die[data-value="3"]::before{ background-position-x: -6rem  }
.die[data-value="4"]::before{ background-position-x: -9rem  }
.die[data-value="5"]::before{ background-position-x: -12rem }
.die[data-value="6"]::before{ background-position-x: -15rem }


/* 9. Settings
----------------------------------------------------------------------------- */
.settings{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-backdrop-filter: blur(1.5rem);
  backdrop-filter: blur(1.5rem);
  overflow: auto;
}

.settings:not([hidden]){
  animation: fadeIn .2s forwards;
}

.settings .layout{
  transform: scale(.95);
  max-width: var(--board-width);
  margin: var(--page-padding) auto;
}

.settings:not([hidden]) .layout{
  animation: popIn .2s forwards;
}

.settings h2{
  padding-top: .375rem;
}

.settings fieldset{
  border: none;
  margin-top: 2rem;
}


/* 10. Form Elements
----------------------------------------------------------------------------- */

  /* --- 10.1 Input --------------------------------------------------------- */
  input{
    font: inherit;
    color: inherit;
  }

  /* --- 10.2 Label --------------------------------------------------------- */
  .label{
    display: block;
    margin: 1.5rem 0 .5rem 0;
    font-weight: bold;
    font-size: 0.9375rem;
    color: var(--sec-txt-color);
  }

  /* --- 10.3 Select -------------------------------------------------------- */
  select{
    -webkit-appearance: none;
    width: 100%;
    padding: .75rem 1rem;
    border: none;
    border-radius: .5rem;

    font: inherit;
    color: inherit;

    background-color: var(--input-bg-color);
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center right 1.25rem;
    background-size: 1rem;

    box-shadow:
      0 1px 4px 0 rgba(0,0,0,0.08),
      0 0 0 1px rgba(0,0,0,0.04);
  }

  /* --- 10.4 Theme Switch -------------------------------------------------- */
  .theme-switch{
    -webkit-appearance: none;
    appearance: none;
  }

  .theme-switch .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
  }

  .theme-switch .option{
    display: inline-block;
    background: var(--input-bg-color);
    box-shadow:
      0 1px 4px 0 rgba(0,0,0,0.08),
      0 0 0 1px rgba(0,0,0,0.04);
    border-radius: .5rem;
    padding: .1875rem;
    vertical-align: top;
  }

  .theme-switch .option img{
    display: block;
    width: 100%;
    margin-bottom: .25rem;
    border-radius: .375rem .375rem 0 0;
  }

  .theme-switch [type=radio]{
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-bottom: .3rem;
  }


/* 11. Animations
----------------------------------------------------------------------------- */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop {
  0%  { transform: scale(1.0) }
  33% { transform: scale(1.2) }
  66% { transform: scale(0.9) }
}