/*

    TABLE OF CONTENTS

    1. Variables
    2. General
    3. Responsiveness
    4. Scores
    5. Board
    6. Game manual
    7. Input
    8. Button
    9. Dice

*/


/* 1. Variables
----------------------------------------------------------------------------- */
:root{
  --board-width: 18.75rem;
  --page-padding: .5rem;

  --pri-bg-color: #f9f9f9;
  --sec-bg-color: #f0f1f2;
  --accent-bg-color: #C7EBE4;

  --pri-txt-color: #5D6362;
  --sec-txt-color: #868D8C;
  --ter-txt-color: #BBC1C0;

  --border-default: #e3e5e6;
  --border-subtle: #eeeeee;
  --border-accent: #ceebe5;

  --button-default: linear-gradient(0deg, #ebeef0 0%, #f0f1f2 100%);
  --button-default-pressed: linear-gradient(0deg, #f0f1f2 0%, #ebeef0 100%);
  --button-accent: linear-gradient(180deg, #c5e6df 0%, #b8e0d9 100%);
  --button-accent-pressed: linear-gradient(180deg, #b8e0d9 0%, #c5e6df 100%);
  --button-glow: #fcfcfc;

  --dice-hue: 32;
  --dice-saturation: 48%;
  --dice-lightness: 90%;
}

@media screen and (min-width: 720px){
  :root{
    --page-padding: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {

  :root{
    --pri-bg-color: #143b4f;
    --sec-bg-color: #17455c;
    --accent-bg-color: #264E56;

    --pri-txt-color: rgba(247,247,247,.95);
    --sec-txt-color: rgba(247,247,247,.8);
    --ter-txt-color: rgba(247,247,247,.5);

    --border-default: #395f74;
    --border-subtle: #325466;
    --border-accent: #3c6358;

    --button-default: linear-gradient(180deg, #2d4e60 0%, #2b4b5c 100%);
    --button-default-pressed: linear-gradient(180deg, #2b4b5c 0%, #2d4e60 100%);
    --button-accent: linear-gradient(180deg, #538a7a 0%, #4d8071 100%);
    --button-accent-pressed: linear-gradient(180deg, #4d8071 0%, #538a7a 100%);
    --button-glow: rgba(249,251,252,.05);

    --dice-saturation: 32%;
    --dice-lightness: 72%;
  }

  *:focus{
    outline: 3px solid var(--pri-txt-color);
  }

}


/* 2. General
----------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}

html{
  font: 100% / 1.5 'Avenir', sans-serif;
  color: var(--sec-txt-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pri-bg-color);
  overflow-x: hidden;
}

h1,h2,h3{
  color: var(--pri-txt-color);
}

input{
  font: inherit;
  color: inherit;
}

.visually-hidden{
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


/* 3. Responsiveness
----------------------------------------------------------------------------- */
@media screen and (min-width: 374px){
  html{
    font-size: 112.5%
  }
}

@media screen and (min-width: 413px){
  html{
    font-size: 125%
  }
}


/* 4. Scores
----------------------------------------------------------------------------- */
.scores{
  max-width: var(--board-width);
  margin: 2rem auto 1rem;
  text-align: right;
}

.scores output{
  display: inline;
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 3rem;
}

.scores [name=total-score]{
  margin-right: .5rem;
}

.scores output[name=high-score]{
  color: var(--ter-txt-color);
}


/* 5. Board
----------------------------------------------------------------------------- */
.board{
  max-width: var(--board-width);
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 3rem);
  margin: 0 auto 3rem;
}

@media screen and (min-width: 50rem){
  .board,
  .scores{
    transition: transform .3s ease-out;
  }

  .show-manual .board,
  .show-manual .scores{
    transform: translateX( calc( (-.5 * var(--board-width)) - var(--page-padding) ));
  }
}


/* 6. Game manual
----------------------------------------------------------------------------- */
.game-manual{
  max-width: var(--board-width);
  margin: 0 auto calc(4 * var(--page-padding));
  cursor: default;
}

@media screen and (min-width: 50rem){
  .game-manual{
    transform: translateX(calc(var(--board-width) + var(--page-padding)));
    position: absolute;
    top: calc( 2 * var(--page-padding) );
    right: var(--page-padding);
    transition: transform .3s ease-out;
  }

  .show-manual .game-manual{
    transform: translateX( calc( -1 * (50vw - var(--board-width)) + var(--page-padding) * 2));
  }
}

button.manual-toggle{
  display: none;
  position: absolute;
  top: var(--page-padding);
  right: calc(50vw - var(--board-width) - ( 4 * var(--page-padding)));
  padding: .5rem 1rem;
  font-weight: bold;
}

@media screen and (min-width: 50rem){
  button.manual-toggle{
    display: block;
  }
}

.game-manual h2{
  font-size: 1.25rem;
  margin-bottom: .25rem;
}

.game-manual p {
  margin-bottom: 1rem;
}

.game-manual dl{
  display: grid;
  grid-template-columns: 1fr auto;
}

.game-manual dt,
.game-manual dd{
  padding-bottom: .25rem;
  margin-bottom: .25rem
}

.game-manual dt:not(:last-of-type),
.game-manual dd:not(:last-of-type){
  border-bottom: 1px solid var(--border-subtle);
}

.game-manual dd{
  text-align: right;
  padding-left: 1.5rem;
}


/* 7. Input
----------------------------------------------------------------------------- */
.board input{
  max-width: 2rem;
  max-height: 2rem;
  margin: .5rem 0 .5rem .5rem;
  border: none;

  font-size: .875rem;
  text-align: center;

  background-color: var(--sec-bg-color);
}

.board input:not([name*=sum]){
  border-radius: 50%;
  color: var(--ter-txt-color);
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.05);
}

.board input[name*=diagonal]{
  background: var(--accent-bg-color);
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.06);
}

.board input::placeholder{
  color: var(--ter-txt-color);
}


/* 8. Button
----------------------------------------------------------------------------- */

  /* --- 8.1 General -------------------------------------------------------- */
  button{
    min-width: 3rem;
    min-height: 3rem;
    position: relative; /* to absolutely position the ::after element */
    border: none;
    border-radius: 0.15625rem;
    background-color: var(--sec-bg-color);
    background-image: var(--button-default);

    font: inherit;
    font-size: 1.125rem;
    color: inherit;
    box-shadow:
      inset 0 1px 0 0 var(--button-glow),
      inset 0 -1px 2px 0 rgba(0,0,0,.05);
  }

  button:hover{
    filter: brightness(96%);
  }

  button[readonly],
  .show-manual .manual-toggle{
    background-image: var(--button-default-pressed);
    box-shadow:
      inset 0 -1px 0 0 var(--button-glow),
      inset 0 2px 2px 0 rgba(0,0,0,.03);
  }

  button:focus{
    z-index: 1;
  }

  .board button:nth-child(5n + 1),
  .board button:nth-child(7n),
  .manual-toggle{
    background-image: var(--button-accent);
  }

  .board button[readonly]:nth-child(5n + 1),
  .board button[readonly]:nth-child(7n),
  .show-manual .manual-toggle{
    background-image: var(--button-accent-pressed);
  }

  /* --- 8.2 Lines ---------------------------------------------------------- */
  button[data-row="1"]::before,
  button[data-column="4"]::after,
  button[data-row="1"][data-column="5"]::after,
  button[data-row="5"][data-column="5"]::after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-color: var(--border-default);
  }

  button[data-row="1"]::before{
    width: 1px;
    height: .75rem;
    top: -.75rem;
    left: 1.5rem;
  }

  button[data-column="4"]::after{
    width: .75rem;
    height: 1px;
    top: 1.5rem;
    right: -4rem;
  }

  button[data-row="1"][data-column="5"]::after,
  button[data-row="5"][data-column="5"]::after{
    width: 1px;
    height: calc(1.5rem + 1px);
    right: calc(-.5rem - 1px);
    background-color: var(--border-accent);
  }

  button[data-row="1"][data-column="5"]::after{
    top: calc(-1.25rem - 1px);
    transform: rotate(45deg);
  }

  button[data-row="5"][data-column="5"]::after{
    top: 2.75rem;
    transform: rotate(-45deg);
  }

  /* --- 8.3 Animations ----------------------------------------------------- */
  @keyframes pop {
    0%  { transform: scale(1.0) }
    33% { transform: scale(1.2) }
    66% { transform: scale(0.9) }
  }

  .board button.animate{
    animation: pop .4s
  }

  .animate.row[data-column="2"],
  .animate.column[data-row="4"]{
    animation-delay: .08s!important
  }

  .animate.row[data-column="3"],
  .animate.column[data-row="3"]{
    animation-delay: .16s!important
  }

  .animate.row[data-column="4"],
  .animate.column[data-row="2"]{
    animation-delay: .24s!important
  }

  .animate.row[data-column="5"],
  .animate.column[data-row="1"]{
    animation-delay: .32s!important
  }


/* 9. Dice
----------------------------------------------------------------------------- */
.dice{
  grid-column: 1 / 6;
  grid-row: 7 / 9;
  align-self: center;
  text-align: center;
}

.die{
  display: inline-block;
  position: relative;
  vertical-align: top;
  border-radius: .5rem;
  margin: .85rem;
  text-align: center;
  /*background-image: linear-gradient(0deg, #f5f0eb 0%, #faf8f5 100%);*/
  background-image:
    linear-gradient(
      -45deg,
      hsl(var(--dice-hue), calc(var(--dice-saturation) - 20%), calc(var(--dice-lightness) - 12%)) 0%,
      hsl(var(--dice-hue), var(--dice-saturation), var(--dice-lightness)) 100%);
  background-color: #fff8f0;
  /*box-shadow:
    .0625rem .125rem .1875rem 0 rgba(0,0,0,.03),
    .125rem .25rem .375rem 0 rgba(0,0,0,.05),
    .25rem .5rem .75rem 0 rgba(0,0,0,.1);*/
  box-shadow:
    1px 2px 3px 0 rgba(0,0,0,0.03),
    2px 4px 3px 0 rgba(0,0,0,0.05),
    4px 8px 12px 0 rgba(0,0,0,0.10);
  transition:
    transform .12s,
    opacity .12s;
}

.die:not(.show){
  transform: translateY(3rem)!important;
  opacity: 0;
  transition: none;
}

.die:nth-of-type(2){
  transition-delay: .05s
}

.die::before{
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  margin: .125rem;
  border-radius: 50%;
  /*box-shadow:
    .0625rem .0625rem .125rem 0 #ffffff,
    .125rem .125rem .375rem 0 rgba(0,0,0,0.02);*/
  box-shadow:
    -.5px -.5px .5px .5px rgba(255,255,255,0.2),
    3px 3px 6px 0 rgba(0,0,0,0.02),
    inset .5px .5px .5px .5px rgba(0,0,0,0.02),
    inset .5px .5px .5px .5px rgba(255,255,255,0.3),
    inset 8px 8px 12px 0 rgba(0,0,0,0.02),
    inset -.5px -.5px .5px .5px rgba(0,0,0,0.04);
  /*background: #fffaf7 url(../images/dice.svg) no-repeat center left;*/
  background-color: hsl(var(--dice-hue), var(--dice-saturation), var(--dice-lightness));
  background-image: url(../images/dice.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18rem;
}

.die[data-value="2"]::before{ background-position-x: -3rem  }
.die[data-value="3"]::before{ background-position-x: -6rem  }
.die[data-value="4"]::before{ background-position-x: -9rem  }
.die[data-value="5"]::before{ background-position-x: -12rem }
.die[data-value="6"]::before{ background-position-x: -15rem }